html, body {
    margin: 0%;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}

.left-align {
    justify-content: left;
    align-items: flex-start;
}

.right-align {
    justify-content: center;
    align-items: flex-start;
}

.text-align-center {
    text-align: center;
}

.align-end {
    align-items: flex-end;
}

/* TEXTS */

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

p, a {
    font-family: 'Poppins', sans-serif;
}

li {
    text-decoration: none;
    list-style: none;
}

/* BACKGROUND COLORS */

.white-bg {
    background-color: white;
}

.light-gray-bg {
    background-color: #F9F9F9;
}

.primary-color-bg {
    background-color: #C25252;
}

/* COLORS */

.white {
    color: white;
}

.secondary-color {
    color: #F5EDA1
}

.primary-color {
    color: #C25252;
}

.dislike-color {
    color: #004D94;
}

/* CONTAINERS */

main {
    gap: 15%;
}

.sidebar-container {
    padding: 3%;
}

.sidebar-header p {
    margin-top: 0%;
    margin-left: 10%;
}

.sidebar-title {
    gap: 1em;
}

.pet-list {
    gap: 10px;
}

.pet-bubble {
    justify-content: flex-start;
    border-radius: 20px;
    background-color: white;
    width: 350px;
    margin-left: 15%;
    padding: 10px;
    gap: 10px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.pet-bubble:hover {
    background-color: #F5EDA1;
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}

.pet-item-text {
    gap: 10px;
}

.pet-age-text {
    font-weight: 400;
}

.pet-action {
    gap: 5px;
}

.circle-container {
    width: 50px;
    border-radius: 100px;
    background: white;
    border-color: white;
    border-style: solid;
    border-width: 5px;
}

.image-container {
    width: 200px;
    height: 175px;
    border-radius: 20px;
    border-color: white;
    border-style: solid;
    border-width: 5px;
}

.icon-container {
    background-color: white;
    border-radius: 100%;
    padding: 30%;
    box-shadow: 1px 2px 10px #c4c4c4;
    transition: all 0.2s ease-in-out;
}

.icon-container:hover {
    background-color: #F5EDA1;
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.card {
    border-radius: 20px;
    background-color: #F9F9F9;
    padding: 20%;
    box-shadow: 1px 2px 10px #c4c4c4;
}